[Desktop Entry]
Type=Application
Name=Tinker Board Configuration
Comment=Configuration Tool of Tinker Board
Exec=tc_gui
StartupNotify=true
Categories=Settings;DesktopSettings;
